@import url(home.css);


section.register .input_check-container {
    display: flex;
    /*flex-direction: column;*/
    align-items: stretch;
    margin-bottom: 2rem;
}

section.register {
    max-width: 375px; 
    margin: 200px auto 0px auto;
} 

@media(min-width: 768px) {
    section.register {
        max-width: 700px; 
        margin: 200px auto 0px auto;
    } 
}